<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="music_player.RockMusic">
    </bean>

    <bean id = "musicPlayer"
        class = "music_player.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="iPod"/>
        <property name="volume" value="50"/>
<!--        <constructor-arg ref = "musicBean"/>-->
    </bean>

    <bean id="notesBean"
          class="notes_reader.Tasks">
    </bean>

    <bean id="storeBean"
          class="storage.Materials">
    </bean>

    <bean id="payment_method"
        class="shopping.Card">
    </bean>

    <bean id = "wallet"
          class = "shopping.Wallet">
        <property name="money" ref="payment_method"/>
    </bean>

</beans>