.red-box {
  background-color: lightcoral;
  width: 300px;
  height: 300px;
  border-radius: 0;
}

.blue-circle {
  background-color: lightblue;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: lightblue;
}