.btn-become-pirate {
  background-color: black;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 14px;
  &:hover{
    background-color: red;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
}

/* 
br {
  display: none;
} 
*/